@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  h1 {
    margin: 1rem auto 4rem;
  } */
  
  
  .product--image {
    width: 100%;
    height: 12em;
    object-fit: cover;
    
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 20em;
    margin: auto 1rem;
    text-align: center;
    /* font-family:'Playfair Display',serif ; */
    margin-bottom: 1.25em;
    font-family:serif;
    
    
  }
  
  .price {
    color: grey;
    font-size: 1em;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 0.625em;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 1em;
    border-radius:1.25em;
   

  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .home-head{
    font-family:'Playfair Display',serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    padding-bottom: 1.12em;

  }
  .category-heading{
    font-family:'Playfair Display',serif ;
    font-weight: 400;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    margin-top: 0px;
  }
 
 
