.searchbar{
    margin-bottom: 15px;
    height:40px;
    border-style: none;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:420px;
    margin-left: 225px;
    font-family: 'Playfair+Display',serif;
  
}
.button-styling{
    /* display:flex; */
    height:40px;
    margin-bottom: 15px;
    border-style: none;
    margin-right: 2px;
    margin-left: 6px;
    border-radius: 8px;
    font-family: 'Playfair+Display',serif;
}


/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
    .searchbar {
        width: 280px;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Media Query for Tablet Devices */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .searchbar {
        width: 350px;
        margin-left: 150px;
        margin-right: 150px;
    }
}


/* Media queries for different screen sizes */
@media only screen and (max-width: 768px) {
    /* Styles for mobile devices */
    .button-styling {
        /* Adjust the styles for mobile */
        margin-right: 6px;
        margin-left: 2px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets */
    .button-styling {
        /* Adjust the styles for tablets */
        margin-right: 4px;
        margin-left: 4px;
    }
}
